In [1]:
# Import dependencies 
import pandas as pd
from pathlib import Path

In [2]:
# Import Data from CSV files downloaded from the main source
df_Jan = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202301-citibike-tripdata.csv"))
df_Feb = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202302-citibike-tripdata.csv"))
df_Mar = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202303-citibike-tripdata.csv"))
df_Apr = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202304-citibike-tripdata.csv"))
df_May = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202305-citibike-tripdata.csv"))
df_Jun = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202306-citibike-tripdata.csv"))
df_Jul = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202307-citibike-tripdata.csv"))
df_Aug = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202308-citibike-tripdata.csv"))
df_Sep = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202309-citibike-tripdata.csv"))
df_Oct = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202310-citibike-tripdata.csv"))
df_Nov = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202311-citibike-tripdata.csv"))
df_Dec = pd.read_csv(Path("CSV_files/2023-citybike-data-NewJersey/JC-202312-citibike-tripdata.csv"))

In [3]:
# Display a sample of the data
df_Jan.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [4]:
# Check the size of each dataset
print(f'length of Jan data: {len(df_Jan)}')
print(f'length of Feb data: {len(df_Feb)}')
print(f'length of Mar data: {len(df_Mar)}')
print(f'length of Apr data: {len(df_Apr)}')
print(f'length of May data: {len(df_May)}')
print(f'length of Jun data: {len(df_Jun)}')
print(f'length of Jul data: {len(df_Jul)}')
print(f'length of Aug data: {len(df_Aug)}')
print(f'length of Sep data: {len(df_Sep)}')
print(f'length of Oct data: {len(df_Oct)}')
print(f'length of Nov data: {len(df_Nov)}')
print(f'length of Dec data: {len(df_Dec)}')

length of Jan data: 56075
length of Feb data: 51213
length of Mar data: 63072
length of Apr data: 80688
length of May data: 96002
length of Jun data: 97023
length of Jul data: 106608
length of Aug data: 112027
length of Sep data: 94233
length of Oct data: 97584
length of Nov data: 75646
length of Dec data: 58680

In [5]:
# Remove incomplete records and save as a reduced dataset for each month
redJan = df_Jan.dropna()
redFeb = df_Feb.dropna()
redMar = df_Mar.dropna()
redApr = df_Apr.dropna()
redMay = df_May.dropna()
redJun = df_Jun.dropna()
redJul = df_Jul.dropna()
redAug = df_Aug.dropna()
redSep = df_Sep.dropna()
redOct = df_Oct.dropna()
redNov = df_Nov.dropna()
redDec = df_Dec.dropna()

In [6]:
# Check again the size of each dataset to compare with the original lengt after removing incomplete data
print(f'length of redJan data: {len(redJan)}')
print(f'length of redFeb data: {len(redFeb)}')
print(f'length of redMar data: {len(redMar)}')
print(f'length of redApr data: {len(redApr)}')
print(f'length of redMay data: {len(redMay)}')
print(f'length of redJun data: {len(redJun)}')
print(f'length of redJul data: {len(redJul)}')
print(f'length of redAug data: {len(redAug)}')
print(f'length of redSep data: {len(redSep)}')
print(f'length of redOct data: {len(redOct)}')
print(f'length of redNov data: {len(redNov)}')
print(f'length of redDec data: {len(redDec)}')

length of redJan data: 55873
length of redFeb data: 51069
length of redMar data: 62867
length of redApr data: 80474
length of redMay data: 95736
length of redJun data: 96662
length of redJul data: 106216
length of redAug data: 111701
length of redSep data: 93879
length of redOct data: 97204
length of redNov data: 75400
length of redDec data: 58438

In [8]:
# Export the reduced data to CSV files
redJan.to_csv('CSV_files/by_month/1.January.csv', index=False)
redFeb.to_csv('CSV_files/by_month/2.February.csv', index=False)
redMar.to_csv('CSV_files/by_month/3.March.csv', index=False)
redApr.to_csv('CSV_files/by_month/4.April.csv', index=False)
redMay.to_csv('CSV_files/by_month/5.May.csv', index=False)
redJun.to_csv('CSV_files/by_month/6.June.csv', index=False)
redJul.to_csv('CSV_files/by_month/7.July.csv', index=False)
redAug.to_csv('CSV_files/by_month/8.August.csv', index=False)
redSep.to_csv('CSV_files/by_month/9.September.csv', index=False)
redOct.to_csv('CSV_files/by_month/10.October.csv', index=False)
redNov.to_csv('CSV_files/by_month/11.November.csv', index=False)
redDec.to_csv('CSV_files/by_month/12.December.csv', index=False)

In [9]:
# Combine the monthly data into a single dataset
union_df = pd.concat([redJan,redFeb,redMar,redMay, redApr,redJun,redJul,redAug,redSep,redOct,redNov,redDec])

In [10]:
# Export the combined data as a CSV file to be used in Tableau
union_df.to_csv('CSV_files/Complete.csv', index=False)